# 1

In [1]:
print(1 + 2 + 3 + 4 + 5)

15

# 2

In [2]:
print('*' * 40)
print('# ' * 20)

****************************************
# # # # # # # # # # # # # # # # # # # #

# 3

In [3]:
num1, num2 = input("Enter Two Integer : ").split()
num1, num2 = int(num1), int(num2)

if num1 < num2 :
    print(num1, num2)
else :
    print(num2, num1)

Enter Two Integer : 14 10
10 14

# 4

In [23]:
for i in range(2, 13) :
    n = 0
    for j in range (2, 13) :
        if i % j == 0 :
            n += 1
    if n == 1 :
        print(i,"Prime Number")
    else :
        n >= 2 
        print(i, "Composite Number")

2 Prime Number
3 Prime Number
4 Composite Number
5 Prime Number
6 Composite Number
7 Prime Number
8 Composite Number
9 Composite Number
10 Composite Number
11 Prime Number
12 Composite Number

# 5

In [34]:
list_arm = []
for i in range (100,1000) :
    n1 = i // 100
    n2 = (i % 100) // 10
    n3 = (i % 100) % 10
    if i == ((n1*n1*n1)+(n2*n2*n2)+(n3*n3*n3)) :
        list_arm.append(i)

for j in list_arm :
    print(j, end=" ")

153 370 371 407

# 6

In [17]:
list1 = ['I like', 'I love']
list2 = ['Pancake', 'Kiwi Juice', 'Espresso']

for i in list1 : 
    for j in list2 : 
        print('{} {}'.format(i, j))

I like Pancake
I like Kiwi Juice
I like Espresso
I love Pancake
I love Kiwi Juice
I love Espresso

# 7

Given list =  [5, 6, 3, 9, 2, 12, 3, 8, 7]
Result list =  [5, 3, 6, 2, 9, 3, 8, 7, 12]

# 8

In [437]:
scores = (('Hyun', 88, 95, 90), ('Kang', 85, 90, 95), ('Park', 70, 90, 80),('Hong', 90, 90, 95))
avg = 0
for _ in scores :
    avg = avg + _[2]
    
print(avg/len(scores))

91.25

---

# 9

In [6]:
radius = 7
pi = 3.14
print("The area of a circle", pi * radius**2 )
print("The circumference of a circle", 2*pi*radius)

The area of a circle 153.86
The circumference of a circle 43.96

# 10

In [7]:
print(int('50') + 50)
print(str(50) + '50')

100
5050

# 11

In [8]:
print('1' + '0' + '0' + '0')

1000

# 12

In [13]:
n = int(input("Enter Your Integer : "))
fac = n*2*1

print('{}! ='.format(n),fac )

3
3! = 6

# 13

In [21]:

height = int(input("Enter Your Height : "))
height = height / 100
weight = int(input("Enter Your Weight : "))

calc_bmi = weight / height**2

print(calc_bmi)

Enter Your Height : 180
Enter Your Weight : 70
21.604938271604937

# 14

In [22]:
width = 30
height = 60

calc_rec = width * height 

print(calc_rec)

1800

# 15

In [51]:
import math
a = int(input("Enter A >> "))
b = int(input("Enter B >> "))

c = a**2 + b**2 
c = math.sqrt(c)

print(c)

Enter A >> 3
Enter B >> 4
5.0

# 16

In [87]:
n = int(input("Enter The Integer : "))

print('1 * {} = {}'.format(n, 1 * n))
print('2 * {} = {}'.format(n, 2 * n))
print('3 * {} = {}'.format(n, 3 * n))
print('4 * {} = {}'.format(n, 4 * n))
print('5 * {} = {}'.format(n, 5 * n))
print('6 * {} = {}'.format(n, 6 * n))
print('7 * {} = {}'.format(n, 7 * n))
print('8 * {} = {}'.format(n, 8 * n))
print('9 * {} = {}'.format(n, 9 * n))

Enter The Integer : 2
1 * 2 = 2
2 * 2 = 4
3 * 2 = 6
4 * 2 = 8
5 * 2 = 10
6 * 2 = 12
7 * 2 = 14
8 * 2 = 16
9 * 2 = 18

# 17

In [25]:
leap_year = int(input("Please enter the year : "))


print(leap_year % 4 == 0 and leap_year % 100 != 0 or leap_year % 400 == 0 )

Please enter the year : 2023
False

# 18

In [27]:
n = int(input("Enter Your Integer : "))

print(n % 2 == 1)

Enter Your Integer : 21
True

# 19

In [59]:
n = int(input("Enter Your Integer : "))
print(n % 2 == 1 and n <= 10)

Enter Your Integer : 2
False

# 20

In [29]:
n = int(input("Enter Three Digit : "))

print(n >= 300 and n <=400  )

Enter Three Digit : 222
False

# 21

In [33]:
n = int(input("Enter The Integer : "))

if n % 5 == 0 :
    print("True")
else : 
    print("False")

Enter The Integer : 2
False

# 22

In [60]:
n1, n2, n3 = 2, 3, 9

a, b, c= input("Please enter three lottery numbers : ").split()
a, b, c = int(a), int(b), int(c)

if a == n1 or a == n2 or a == n3 :
    if b == n1 or b == n2 or b == n3 :
        if c == n1 or c == n2 or c == n3 :
            print("You won the lottery!")

Please enter three lottery numbers : 9 3 2
You won the lottery!

# 23

In [43]:
n = int(input("Enter Integer : "))
if n > 0 :
    print("Natural Number")

Enter Integer : 50
Natural Number

# 24

# 25

In [483]:
age, height = input("Enter Age and Height >> ").split()
age, height = int(age), int(height)

if age >= 20 and age <= 65 :
    print("Adult")
if age >= 10 and age < 20  :
    print("Youth")

if age < 10  : 
    print("Kid")
if height >= 110 and age >= 10: 
    print("You can enter")

Enter Age and Height >> 8 120
Kid

In [484]:
from random import randint 

n = random.randint(1, 3)
if n == 1 :
    target = "left"

elif n == 2 :
    target = "center"

else :
    target = "right"

user_input = input("Enter Your target >> ")
    
if target == user_input :
    print("No Goal")
else :
    print("GOALLLL")
print(target)

Enter Your target >> left
No Goal
left

# 26

In [100]:
character = input("Enter The Alphabet >> ")
vowel = ['a','e','i','o','u']

if character in vowel :
    print("Vowel")
else :
    print("Consonant")

Enter The Alphabet >> a
Vowel

# 27

In [112]:
x, y = input("Enter X and Y >> ").split()
x, y = float(x), float(y)

if x > 0 and y > 0  :
    print("1")
if x < 0 and y > 0 : 
    print("2")
if x < 0 and y < 0 :
    print("3")
if x > 0 and y < 0 :
    print("4")

Enter X and Y >> 1.5 -2
4

# 28

In [135]:
person1 = ['David Doe', 20, 1, 180.0, 100.0]
person2 = ['John Smit', 25, 1, 170.0, 80.0]
person3 = ['Jane Carter', 22, 0, 169.0, 60.0]
person4 = ['Peter Kelly', 40, 1, 150.0, 50.0]

person = person1 + person2 + person3 + person4 

n_list = int(len(person) / 4)

age_list = person[1::5]

sum_age = sum(age_list)

avg_age = sum_age / n_list
print(avg_age)

21.4

# 29

In [140]:
s_list = ['AnBasd', 'Sch', 'student']
z_ = s_list[0] 

for i in range(len(s_list)) :
    if len(s_list[i]) < len(z_) :
        z_ = s_list[i]
print(z_)

Sch

# 30

In [486]:
s_list = input("Enter String > ").split()
n_list = []

for i in range(len(s_list)) :

Enter String > AnB School student
AnB School student

AttributeError: 'str' object has no attribute 'append'

# 31

In [66]:
bread = ['Rye bread', 'Wheat', 'White']
meat = ['Meatball', 'Sausages', 'Chicken breast']
vegetable = ['Lettuce', 'Tomato', 'Cucumber']
sauce = ['Mayonnaise', 'Honey mustard','Chili sauce']

for b in bread :
    for m in meat :
        for v in vegetable :
            for s in sauce :
                print('{} + {} + {} + {} '.format(b, m, v, s))

Rye bread + Meatball + Lettuce + Mayonnaise
Rye bread + Meatball + Lettuce + Honey mustard
Rye bread + Meatball + Lettuce + Chili sauce
Rye bread + Meatball + Tomato + Mayonnaise
Rye bread + Meatball + Tomato + Honey mustard
Rye bread + Meatball + Tomato + Chili sauce
Rye bread + Meatball + Cucumber + Mayonnaise
Rye bread + Meatball + Cucumber + Honey mustard
Rye bread + Meatball + Cucumber + Chili sauce
Rye bread + Sausages + Lettuce + Mayonnaise
Rye bread + Sausages + Lettuce + Honey mustard
Rye bread + Sausages + Lettuce + Chili sauce
Rye bread + Sausages + Tomato + Mayonnaise
Rye bread + Sausages + Tomato + Honey mustard
Rye bread + Sausages + Tomato + Chili sauce
Rye bread + Sausages + Cucumber + Mayonnaise
Rye bread + Sausages + Cucumber + Honey mustard
Rye bread + Sausages + Cucumber + Chili sauce
Rye bread + Chicken breast + Lettuce + Mayonnaise
Rye bread + Chicken breast + Lettuce + Honey mustard
Rye bread + Chicken breast + Lettuce + Chili sauce
Rye bread + Chicken breast + Tomato + Mayonnaise
Rye bread + Chicken breast + Tomato + Honey mustard
Rye bread + Chicken breast + Tomato + Chili sauce
Rye bread + Chicken breast + Cucumber + Mayonnaise
Rye bread + Chicken breast + Cucumber + Honey mustard
Rye bread + Chicken breast + Cucumber + Chili sauce
Wheat + Meatball + Lettuce + Mayonnaise
Wheat + Meatball + Lettuce + Honey mustard
Wheat + Meatball + Lettuce + Chili sauce
Wheat + Meatball + Tomato + Mayonnaise
Wheat + Meatball + Tomato + Honey mustard
Wheat + Meatball + Tomato + Chili sauce
Wheat + Meatball + Cucumber + Mayonnaise
Wheat + Meatball + Cucumber + Honey mustard
Wheat + Meatball + Cucumber + Chili sauce
Wheat + Sausages + Lettuce + Mayonnaise
Wheat + Sausages + Lettuce + Honey mustard
Wheat + Sausages + Lettuce + Chili sauce
Wheat + Sausages + Tomato + Mayonnaise
Wheat + Sausages + Tomato + Honey mustard
Wheat + Sausages + Tomato + Chili sauce
Wheat + Sausages + Cucumber + Mayonnaise
Wheat + Sausages + Cucumber + Honey mustard
Wheat + Sausages + Cucumber + Chili sauce
Wheat + Chicken breast + Lettuce + Mayonnaise
Wheat + Chicken breast + Lettuce + Honey mustard
Wheat + Chicken breast + Lettuce + Chili sauce
Wheat + Chicken breast + Tomato + Mayonnaise
Wheat + Chicken breast + Tomato + Honey mustard
Wheat + Chicken breast + Tomato + Chili sauce
Wheat + Chicken breast + Cucumber + Mayonnaise
Wheat + Chicken breast + Cucumber + Honey mustard
Wheat + Chicken breast + Cucumber + Chili sauce
White + Meatball + Lettuce + Mayonnaise
White + Meatball + Lettuce + Honey mustard
White + Meatball + Lettuce + Chili sauce
White + Meatball + Tomato + Mayonnaise
White + Meatball + Tomato + Honey mustard
White + Meatball + Tomato + Chili sauce
White + Meatball + Cucumber + Mayonnaise
White + Meatball + Cucumber + Honey mustard
White + Meatball + Cucumber + Chili sauce
White + Sausages + Lettuce + Mayonnaise
White + Sausages + Lettuce + Honey mustard
White + Sausages + Lettuce + Chili sauce
White + Sausages + Tomato + Mayonnaise
White + Sausages + Tomato + Honey mustard
White + Sausages + Tomato + Chili sauce
White + Sausages + Cucumber + Mayonnaise
White + Sausages + Cucumber + Honey mustard
White + Sausages + Cucumber + Chili sauce
White + Chicken breast + Lettuce + Mayonnaise
White + Chicken breast + Lettuce + Honey mustard
White + Chicken breast + Lettuce + Chili sauce
White + Chicken breast + Tomato + Mayonnaise
White + Chicken breast + Tomato + Honey mustard
White + Chicken breast + Tomato + Chili sauce
White + Chicken breast + Cucumber + Mayonnaise
White + Chicken breast + Cucumber + Honey mustard
White + Chicken breast + Cucumber + Chili sauce

# 32

5
  1  2  3  4  5
  6  7  8  9 10
 11 12 13 14 15
 16 17 18 19 20
 21 22 23 24 25

# 33

In [491]:
from random import randint

num = random.randint(1, 100)
while True : 
    chosen_num = int(input("Enter The Integer : "))
    if chosen_num > num : 
        print("Higher")
        continue
    elif chosen_num < num :
        print("Lower")
        continue
    else :
        print("Answer")
        break

Enter The Integer : 50
Lower
Enter The Integer : 70
Lower
Enter The Integer : 80
Lower
Enter The Integer : 90
Higher
Enter The Integer : 85
Lower
Enter The Integer : 88
Lower
Enter The Integer : 89
Answer

# 34

# 35

In [506]:
daily_sale = (100, 121, 120, 130, 140, 120, 122, 123, 190, 125)
count = 0
for i in range(len(daily_sale) - 1) :
    if daily_sale[i] > daily_sale[i+1]:
        count+=1
print(count)

3

# 36

In [504]:
n = [1, 2, 5, 4, 3, 2, 1, 4, 7, 8, 9, 9, 3, 7, 3, 9]
l = list(n)
l.sort()
c = n[0]
i = 1
count = i

while i < len(n) :
    count += 1
    if n[i] != c :
        if n.count(n[i] > n.count(c)) :
            c = n[i]
        elif n.count(n[i]) == n.count(c) and n[i] > c :
            c = n[i]
    i +=1 
print(c)

9

# 37

In [503]:
a = [(1,), 'abc', (1,), ('a',), ('a', 'b'), ((),)]
b = []

for i in range(len(a)) :
    if any(a[i]) == False :
        b.append(a[i])
for i in range(len(b)) :
    a.remove(b[i])
print(a)

[(1,), 'abc', (1,), ('a',), ('a', 'b')]

# 38

In [505]:
while True :
    user_input = input("Do you want to play a game? :")
    if user_input == 'yes' :
        while True :
            choose = input("Choose among scissors, rock, paper > ")
            a = ['scissors', 'rock', 'papper']
            if choose in a :
                print(choose)
                break
            else :
                continue 
    else :
        print("Game Over")
        break

Do you want to play a game? :yes
Choose among scissors, rock, paper > rock
rock
Do you want to play a game? :no
Game Over

---

# 39

In [45]:
print('#')
print('##')
print('###')
print('####')
print('#####')

#
##
###
####
#####

# 40

In [46]:
print()

10 // 8 = 1
10 % 8 = 2

# 41

In [161]:
a = 54
b = 32 

print(a+b)
print(a-b)
print(a*b)
print(a/b)

86
22
1728
1.6875

# 42

In [163]:
a = int(input("Enter First Integer : "))
b = int(input("Enter Second Integer : "))

print('{}+{}={}'.format(a, b, a+b))
print('{}-{}={}'.format(a, b, a-b))

Enter First Integer : 54
Enter Second Integer : 32
54+32=86
54-32=22

# 43

In [488]:
n = int(input())

for i in range(1, 10) :
    print(n * i)

2
2
4
6
8
10
12
14
16
18

# 44

In [180]:
a, b, c = input("Enter Three Integer : ").split()
a, b, c = int(a), int(b), int(c)

if a > 0 and a < 100 :
    if b > 0 and b < 100 :
        if c > 0 and c < 100 :
            print(a+b+c)
            print(a-b-c)
            print(a*b*c)
            print(a/b/c)

Enter Three Integer : 6 3 2
11
1
36
1.0

# 45

In [190]:
ch1, ch2 = input("Enter Two English Alphabet Chracter >> ").split()

print('{}:{}'.format(ch1, ord(ch1)))
print('{}:{}'.format(ch1, ord(ch2)))

Enter Two English Alphabet Chracter >> A Z
A:65
A:90

# 46

In [221]:
n1,n2,n3,n4,n5 = input("Enter 5 Integer : ").split()
n1,n2,n3,n4,n5 = int(n1), int(n2), int(n3), int(n4), int(n5)

n_list = [n1, n2, n3, n4 ,n5]
n_add = 0

for i in n_list :
    n_add += i
    print(n_add)

Enter 5 Integer : 5 8 7 8 11
5
13
20
28
39

# 47

In [195]:
r1, s = input("Enter Two Integer : ").split()
r1, s = int(r1), int(s)

if r1 >= -1000 or r1 <= 1000 and s >= -1000 or s <= 1000 :
    print(2*s-r1)

Enter Two Integer : 4 3
2

# 48

In [494]:
a, b = input().split()
a, b = int(a), int(b)

c = int(input())

calc = b + c

if calc > 60 :
    a += 1 
    b = d - 60
    if a > 23 :
        print(a, b)
else :
    print(a, calc)

6 17
25
6 42

# 49

3
6

# 50

In [217]:
n = int(input("Enter Integer : "))

if n > 0 and n <= 100 :
    if n % 2 == 0 :
        print("even")
    else :
        print("odd")

Enter Integer : 8
False Odd

# 51

In [211]:
n1, n2 = input("Enter two Integer : ").split()
n1, n2 = int(n1), int(n2)

if n1 > n2 :
    print('>')
if n1 < n2 : 
    print('<')
if n1 == n2 :
    print("=")

Enter two Integer : 20000 90
>

# 52

In [224]:
a = int(input("enter a > "))
b = int(input("enter b > "))

if a > 0 and a <= 100 or b > 0 and b <= 100 :
    if (a + b) % 2 == 0 :
        print("even")
    else :
        print("odd")

enter a > 1
enter b > 2
odd

# 53

In [233]:
a = int(input("Enter A > "))
b = int(input("Enter B > "))

calc = a + b

if calc > 0 :
    print("Natual Number")
else :
    print('{} or Negative Number'.format(calc))

Enter A > -4
Enter B > 4
0 or Negative Number

# 54

In [242]:
p, n, m = input("Enter Three Integer (Price / Number / amount)").split()
p, n, m = int(p), int(n), int(m)

calc_item = p * n

if calc_item > m :
    withdraw = calc_item - m
    print(withdraw)
else :
    print("0")

Enter Three Integer (Price / Number / amount)500 7 2500
1000

# 55

In [249]:
a = input("Enter Eluer Total Score > ").split()
b = input("Enter Eculid Total Score > ").split()



avg_a = 0
avg_b = 0

for i in a :
    avg_a = avg_a + int(i) 
for j in b :
    avg_b = avg_b + int(j)

if avg_a > avg_b :
    print(avg_a)
else :
    print(avg_b)

Enter Eluer Total Score > 91 78 87 100
Enter Eculid Total Score > 88 100 89 73
356

# 56

In [258]:
a = int(input("Enter Integer : "))

if a > 0 and a < 10 :
    print("1 or more and 10 or less")
else :
    print("less than 1 or greater than 10")

Enter Integer : 5
1 or more and 10 or less

# 57

In [265]:
a, b = input("Enter Two Integer : ").split()
a,b = int(a), int(b)

if a > 0 and b > 0 or a == 0 and b == 0 :
    print("both a and b are zero or more")
else :
    print("One of a or b is negative number")

Enter Two Integer : 5 4
both a and b are zero or more

# 58

In [301]:

while True:
    w = int(input("Enter Weight >> "))
    if 1 <= w <= 100 :
        if w % 2 == 0 :
            print("Yes")
            break
        else :
            print("No")
            break

Enter Weight >> 8
Yes

# 59

Enter Password : 1234

TypeError: object of type 'int' has no len()

# 60

In [334]:
s = int(input("Enter Scores : "))

if s >= 0 and s <= 100 :
    if s >= 90 :
        print("A")
    elif s >= 80 and s < 90 : 
        print("B")
    elif s >= 70 and s < 80 :
        print("C")
    elif s >= 60 and s < 70 : 
        print("D")
    else : 
        print("F")

Enter Scores : 59
F

# 61

In [352]:
import random

n1, n2 = input("Enter Two Integer : ").split()

n1, n2 = int(n1), int(n2)

if n1 == n2 : 
    print("both")
elif n1 == 1 and n2 != 1 :
    print("either")
else :
    print("neither")

Enter Two Integer : 3 7
neither

# 62

In [369]:
n1, n2, n3 = input("Enter three Integer : ").split()

n1, n2, n3 = int(n1), int(n2), int(n3)

if (n1 + n2) == n3 :
    print('{} + {} = {}'.format(n1, n2, n1 + n2))
elif (n1 - n2) == n3 :
    print('{} - {} = {}'.format(n1, n2, n1 - n2))
elif (n1 * n2) == n3 :
    print('{} * {} = {}'.format(n1, n2, n1 * n2))
elif n1 == n2 // n3 :
    print('{} = {} / {}'.format(n2//n3, n2, n3))

Enter three Integer : 5 15 3
5 = 15 / 3

# 63

In [377]:
coin1, coin2, coin3 = input("Enter Number on the card : ").split()
coin1, coin2, coin3 = int(coin1), int(coin2), int(coin3)


if coin1 > 0 or coin1 < 10 and coin2 > 0 or coin2 < 10 and coin3 > 0 or coin3 < 10 :
    if coin1 == coin2 == coin3 :
        prize = 10000 + (coin1 * 1000)
        print(prize)
    elif coin1 == coin2 != coin3 or coin1 != coin2 == coin3 :
        prize = 1000 + (coin1 and coin2 * 100)
        print(prize)
    else :
        prize = max(coin1, coin2, coin3) * 100
        print(prize)

Enter Number on the card : 8 5 2
800

# 64

In [390]:
n = int(input("Enter Students : "))
k = int(input("Enter ribs : "))

if 1 <= n and k <= 1000 : 
    if n % 2 == 1 :
        time = n // k * 2 + 2 
        print(time)
    else :
        time = n // k * 2 
        print(time)

Enter Students : 7
Enter ribs : 3
6

# 65

In [400]:
n = int(input())

for i in range(1, n+1) :
    print(i, end=" ")

13
1 2 3 4 5 6 7 8 9 10 11 12 13

# 66

In [421]:
n = int(input())
l = []
if n in range(3, 31) :
    for i in range (1, n +1) :
        for j in range(1, n +1) :
            for k in range(1, n +1) :
                if i+j+k == n and i != j and i != k and j != k and i < j and j < k:
                    print('{} {} {}'.format(i, j, k))
                    l.append((i, j, k))
print(len(l))

10
1 2 7
1 3 6
1 4 5
2 3 5
4

# 67

In [425]:
a, b = input("Enter Two Integer : ").split()
a, b = int(a), int(b)

if 1 <= a <=b <= 100 :
    for i in range(a, b+1) :
        print(i, end=" ")

Enter Two Integer : 3 8
3 4 5 6 7 8

# 68

In [433]:
a, b = input("Enter Two Integer : ").split()
a, b = int(a), int(b)

if 1 <= a <=b <= 100 :
    for i in range(b, a - 1, -1) :
        print(i, end=" ")

Enter Two Integer : 3 8
8 7 6 5 4 3

# 69

In [76]:
n = None
while True :
    n = int(input())
    if 1 <= n <= 100 :
        
        break

10
220

# 70

In [493]:
n = int(input())

print(sum(range(0,n+1)))

100
5050

# 71

In [78]:
a, b = input().split()
a, b = int(a), int(b)

while 1 <= a <= b <= 100 :
    print(sum(range(a, b + 1)))
    break

51 100
3775

# 72

In [4]:
n = int(input())

for i in range(1, n + 1, 2) :
    print(i, end = " ")

11
1 3 5 7 9 11

# 73

In [1]:
n = int(input())

while 1 <= n <= 100 :
    print(n // 2)
    break

12
6

# 74

In [17]:
n = int(input())
s = 0
while 1 <= n <= 100 :
    for i in range(n + 1) :
        if (i % 3 == 0 or i % 5 == 0) and i < 10:
            s += i
    print(s)
    break

10
23

# 75

In [18]:
n = int(input())
s=0
while 1 <= n < 1000000 :
    for i in range(1, n + 1) :
        if n % i == 0 :
            s += i
    print(s)
    break

12
28

# 76

In [3]:
n = int(input())
count = 0
s = 0 
for i in range(0, n + 1, 2) :
    for j in range(0, n+1, 2) :
        if i*j < n and i * j > s :
            s = i * j
            count += 1
print(count)

10
2

# 77

In [84]:
n = int(input())
count = 0
for i in range(1,n):
    if n % i == 0:
        count += i
if count == n:
    print("PERFECT")
elif count < n:
    print("DEFICIENT")
else:
    print("ABUNDANT")

10
DEFICIENT

# 78

In [85]:
for i in range(1, 6) :
    print("#" * i)

#
##
###
####
#####

# 79

In [86]:
for i in range(5, 0, -1) :
    print("#" * i)

#####
####
###
##
#

# 80

In [87]:
for i in range(1, 6) :
    print("{:>5}".format("#" * i))

    #
   ##
  ###
 ####
#####

# 81

In [88]:
for i in range(5, 0, -1) :
    print('{:>5}'.format("#" * i))

#####
 ####
  ###
   ##
    #

# 82

In [89]:
for i in range(1, 10, 2) :
    print('{:^10}'.format("#" * i))

    #
   ###
  #####
 #######
#########

# 83

In [90]:
for i in range(9, 0, -2) :
    print('{:^9}'.format("#" * i))

#########
 #######
  #####
   ###
    #

# 84

In [91]:
n = int(input())

for i in range(n+1) :
    for j in range

20
1 1 3
2 2 2
3 3 1
6 1 1
4

# 85

5
1       1
12     21
123   321
1234 4321
123454321
1234 4321
123   321
12     21
1       1

# 86

In [93]:
n = int(input())
card = 10000
count = 1
if 1 <= n <= 10000:
    while card >= n:
        print(card - n)
        card = card - n
        count += 1

1250
8750
7500
6250
5000
3750
2500
1250
0
8

# 87

In [19]:
a, b, c, d = input().split()
a, b, c, d = int(a), int(b), int(c), int(d) 

if a <= 10000 and b <= 10000 and c <= 10000 and d <= 10000 :
    while True :
        if a == c or a > c :
            print(a)
            break
        else :
            a += b
            c -= d

150 50 1000 100
450

# 88

In [25]:
n, k = input().split()
n, k = int(n), int(k)
empty = 0

if n >= 1 and k > 1 :
    if n > k :
        n += (n // k)
        empty += n // k 
        if empty >= k :
            n += empty // k 
    else :
        n = n
    print(n)

10 3
14

# 89

In [33]:
n = int(input())
c = 0 

if 1 <= n <= 10000 :
    for i in range(1, n + 1) :
        if i == 1 :
            c += 1
        elif 1 < i <= 3 :
            c += 2
        elif 3 < i <= 6 :
            c += 3
        else :
            c += 4
    print(c)

10
30

# 90

In [97]:
n = int(input())
sq = 0
while n > 0:
    sq = sq +(n**2)
    n -= 1
print(sq)

4
30

# 91

In [98]:
n = int(input())
a = []
num = 0
for i in range(n):
    num=num+((2*i)+1)
    a.append(num)
print(sum(a))

3
14

# 92

50 60
-1

# 93

5
2

# 94

25
5

# 95

In [103]:
n = int(input())
if len(num) < 3 :
    print("Palidrome")
else :
    i = 1 
    check = 1 
    while <= int(len(num) / 2) :
        if str(num)[i - 1] != str(num)[-i] :
            check = 0
            break
        i += 1
    if check == 0 :
        print("Not Palidrome")
    else :
        print("Palidrome")

120
Normal Number

# 96

2 3 5 7 11
13 17 19 23 29
31 37 41 43 47
53 59 61 67 71
73 79 83 89 97

# 97

2 4 6 8 10 12 14
56

# 98

1 2
2 3
3 4
4 5
0 0
9

# 99

1 5 7 11 13 17 19 23 25 29
31 35 37 41 43 47 49 53 55 59
61 65 67 71 73 77 79 83 85 89
91 95 97

# 100

5 3
6 2
7 2
5 3
5 4
0 4
0 6
0 0
3

# 101

In [109]:
l = [4, 7, 6, 8, 11, -3, 8, 11, 5, 13]
print(sum(l))

70

# 102

In [110]:
l1 = [5, 7, 13, 11, 6, 10, 45, 11, 4, 9]
l2 = []
for i in l1:
    if i % 2 == 0:
        l2.append(i)
print(sum(l2))

20

# 103

2 1 2 1 2 1
-1 0 0 1 0 7

# 104

123 234 345
1
0
1
0
0
0
0
1
0
4

# 105

In [118]:
tup = sum(range(1, 100, 2))
print(tup)

2500

# 106

In [119]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(l)

[2, 3, 4, 5, 6, 7, 8, 9, 10, 1]

# 107

[10, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# 108

20211224
2021Y 12M 24D

# 109

In [3]:
n, k = input().split()
p = input().split()
n, k = int(n), int(k)
p = list(p)
l = []
if k < n and n in range(1, 50): 
    for i in range(len(p)):
        p[i] = int(p[i])
        if p[i] > 0 and p[i] >= k:
            l.append(i)
    print(len(l))

4 2
0 0 0 0
0

# 110

10
3
4
6
2
28

# 111

6
5 2 4 1 7 5
5

# 112

5
1 3 3 4 5
1 5 3 7 9

# 113

1 4 3 2 9 7 18 22 0
3

# 114

In [8]:
p, q = input().split()
p, q = int(p), int(q)
p1 = []
q1 = []
for i in range(1, p+1):
    if p % i == 0:
        p1.append(i)
for j in range(1, q+1):
    if q % j == 0:
        q1.append(j)
for i in range(len(p1)):
    p1[i] = int(p1[i])
for i in range(len(q1)):
    q1[i] = int(q1[i])
for i in p1:
    for j in q1:
        print(i,j)

24 2
1 1
1 2
2 1
2 2
3 1
3 2
4 1
4 2
6 1
6 2
8 1
8 2
12 1
12 2
24 1
24 2

# 115

123 45
54

# 116

77
-99
98

# 117

10
20
30
40
50
60
70
80
90
90
9

# 118

4 4 3 3
5 4 3 5
5 5 2 4
5 5 5 1
4 4 4 4
2 17

# 119

5
512
532
532
585
599
532

# 120

3
3
2 -1 1
9

# 121

3 2 3
5

# 122

100
3
5 75 25
2 3

# 123

2
60 1
30 5
180

# 124

In [35]:
l1 = []
i = 1
while i < 29 :
    n = int(input())
    l1.append(n)
    i = i + 1 
for i in range(1, 31) :
    if i not in l1 :
        print(i)

3
1
4
5
7
9
6
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
2
8

# 125

42
84
252
420
840
126
42
84
420
126
1

# 126

30 3
1 3
3 7
1 4
13

# 127

4 5
0 1 2
0 2 4
1 2 3
1
0 2 4
1 1 4
2

# 128

In [22]:
n = int(input())
m = int(input())
k = int(input())
check = [0] * (n + 1)

for _ in range(m) :
    x = int(input())
    for j in range(x - k, x + k + 1) :
        if 1 <= j <= n :
            check[j] = 1
            
count = 0
for i in range(1, n + 1) :
    if check[i] == 0 :
        count += 1
        for j in range(i, min(i + k * 2, n) + 1) : 
            check[j] = 1
print(count)

13
2
10
1
2
1

# 129

5 2
1 2
4 5
2

# 130

10 8 6
15 30
25 50
70 80
480

# 131

3
5 9
1 10
3 8
350
550
330

# 132

4 2
5
8
12
6
1 3
2 4
25
26

# 133

5 3
2
5
-4
10
3
11

# 134

4
+
5
*
9
81

# 135

13 5 3 2 1
u
f
u
d
f
3

# 136

1 3 3 1 1 1 7 7 7 7
7
4

# 137

6
1 0 0 1 1 1
2

# 138

8 1 7 2 6 3 5 4
mixed

# 139

6
C
C
P
C
Z
Z
5

# 140

7
0 0
1 0
1 1
0 0
0 0
0 0
0 1
6