# 70

In [531]:
n = int(input())
while 1 <= n <= 100 :
    print(sum(range(1, n +1)))
    break

100
5050

# 71

In [532]:
a, b = input().split()
a, b = int(a), int(b)

while 1 <= a <= b <= 100 :
    print(sum(range(a, b+1)))
    break

51 100
3775

# 72

In [533]:
n = int(input())
if 1 <= n <= 100 :
    for i in range(1, n+1, 2) :
        print(i, end = " ")

11
1 3 5 7 9 11

# 73

In [534]:
n = int(input())

while 1 <= n <= 100 :
    print(n // 2)
    break

75
37

# 74

In [17]:
n = int(input())
s = 0
while 1 <= n <= 1000 :
    for i in range(1, n+1) :
        if i % 3 == 0 or i % 5 == 0 and i < 10:
            s += i
    print(s)
    break

10
23

# 75

In [19]:
n = int(input())
s = 0
while 1 <= n <= 1000000 :
    for i in range(1, n+1) :
        if n % i == 0:
            s += i
    print(s)
    break

12
28

# 76

In [26]:
n = int(input())
count = 0
s = 0
while 1 <= n <= 2000000000 :
    for i in range(2, n + 1, 2) :
        for j in range(2, n + 1, 2) :
            if i * j < n and i * j > s :
                s = i * j 
                count += 1
    print(count)
    break

10
2

# 77

In [29]:
n = int(input())
count = 0
for i in range(1,n):
    if n % i == 0:
        count += i
if count == n:
    print("PERFECT")
elif count < n:
    print("DEFICIENT")
else:
    print("ABUNDANT")

12
ABUNDANT

# 78

In [32]:
for i in range(1, 6) :
    print("#" * i)

#
##
###
####
#####

# 79

In [34]:
for i in range(5, 0, -1) :
    print("#" * i)

#####
####
###
##
#

# 80

In [35]:
for i in range(1, 6) :
    print('{:>5}'.format("#"*i))

    #
   ##
  ###
 ####
#####

# 81

In [37]:
for i in range(5, 0, -1) :
    print('{:>5}'.format("#" * i))

#####
 ####
  ###
   ##
    #

# 82

In [38]:
for i in range(1, 10, 2) :
    print('{:^10}'.format("#" * i))

    #
   ###
  #####
 #######
#########

# 83

In [39]:
for i in range(9, 0, -2) :
    print('{:^9}'.format("#" * i))

#########
 #######
  #####
   ###
    #

# 84

In [86]:
g = int(input()) 
l = []
while 1 <= g <= 50 :
    for i in range(1, 10) :
        for j in rna

    break

20

# 85

In [510]:
n = int(input())
z = n + (n - 1)
for i in range(1, n) :
    for j in range(1, i + 1) :
        print(j, end = "")
    print(" " * (z - 2), end = "")
    for j in range(i, 0, -1) :
        print(j, end = "")
    print(end="\n")
    
    z = z - 2
    
x = 0 
for i in range(n, 0, -1) :
    if x == 0 :    
        for j in range(1, i + 1) :
            print(j, end = "")
        for j in range(i - 1, 0, -1) :
            print(j, end = "")
        print(end="\n")
        x = 1
    else :
        for j in range(1, i + 1) :
            print(j, end = "")
        print(" " * x, end = "")
        for j in range(i, 0, -1) :
            print(j, end = "")
        print(end="\n")
        
        x += 2

5
1       1
12     21
123   321
1234 4321
123454321
1234 4321
123   321
12     21
1       1

# 86

In [530]:
n = int(input())
card = 10000
count = 1
if 1 <= n <= 10000:
    while card >= n:
        print(card - n)
        card = card - n
        count += 1

1250
8750
7500
6250
5000
3750
2500
1250
0

# 87

In [46]:
a, b, c, d = input().split()
a, b, c, d = int(a), int(b), int(c), int(d) 

if a <= 10000 and b <= 10000 and c <= 10000 and d <= 10000 :
    while True :
        if a == c or a > c :
            print(a)
            break
        else :
            a += b
            c -= d

150 50 1000 100
450

# 88

In [165]:
n, k = input().split()
n, k = int(n), int(k)
empty = 0

if n >= 1 and k > 1 :
    if n > k :
        n += (n // k)
        empty += n // k
        if empty >= k :
            n += empty // k
    else :
        n = n
        
    print(n)

4 3
5

# 89

In [62]:
n = int(input())
c = 0 

if 1 <= n <= 10000 :
    for i in range(1, n + 1) :
        if i == 1 :
            c += 1
        elif 1 < i <= 3 :
            c += 2
        elif 3 < i <= 6 :
            c += 3
        else :
            c += 4
    print(c)

10
30

# 90

In [68]:
n = int(input())
sq = 0
while n > 0:
    sq = sq +(n**2)
    n -= 1
print(sq)

4
30

# 91

In [69]:
n = int(input())
a = []
num = 0
for i in range(n):
    num=num+((2*i)+1)
    a.append(num)
print(sum(a))

3
14

# 92

In [100]:
a, b = input().split()
a, b = int(a), int(b) 
s = 0
while 1 <= a <= b <= 10000 :
    for i in range(a, b +1) :

50 60
-1

# 93

5
2

# 94

In [527]:
from math import sqrt 
s = 0
while True :
    n = int(input())
    if 1 <= n <= 2000000000 :
        if sqrt(n).is_integer() :
            break
s1 = []
n = int(sqrt(n))
blue = 0
for i in range (1, n) :
    s = i + (i - 1)
    s1.append(s)
tile = s1[:n]
redtile = sum(tile[1:n:2])
bluetile = sum(tile[0: n + 1 : 2])
if redtile > bluetile :
    print(redtile - bluetile)
elif bluetile > redtile :
    print(bluetile - redtile)
else :
    print("0")

25
4

# 95

In [524]:
n = input()
if len(n) < 2 :
    print("Palidrome Number")
else :
    i = 1 
    check = 1 
    while i <= int(len(n) / 2) :
        if str(num)[i - 1] != str(num)[-i] :
            check = 0
            break
        i += 1
    if check == 0 :
        print("Normal Number")
    else :
        print("Palindrome Number")

5
Palidrome Number

# 96

In [512]:
l = []
for i in range(1, 100):
    n = 0
    for j in range(2, 100):
        if i % j == 0:
            n += 1
    if n == 1 :
        l.append(i)
        
a = 4 
for i in range(len(l)) :
    print(l[i], end = " ")
    if i == a :
        print()
        a += 5

2 3 5 7 11
13 17 19 23 29
31 37 41 43 47
53 59 61 67 71
73 79 83 89 97

# 97

In [243]:
s = 0
for i in range(1, 100) :
    if i % 2 == 0 :
        s = s + i
        print(i, end =' ')
        if s > 50 :
            print()
            break

print(s)

2 4 6 8 10 12 14
56

# 98

In [91]:
l = []

while True :
    a, b = input().split()
    a, b = int(a), int(b)
    
    if a != 0 and b != 0 :
        s = a + b
        l.append(s)
    else :
        break
print(max(l))

1 2
2 3
3 4
4 5
0 0
9

# 99

In [518]:
l = []
for i in range(1, 100) :
    if i % 2 != 0 and i % 3 != 0:  
        l.append(i)

a = 9 
for i in range(len(l)) :
    print(l[i], end = " ")
    if i == a :
        print()
        a += 10

1 5 7 11 13 17 19 23 25 29
31 35 37 41 43 47 49 53 55 59
61 65 67 71 73 77 79 83 85 89
91 95 97

# 100

In [156]:

# while True :
#     d1, d2 = input().split()
#     d1, d2 = int(d1), int(d2) 
#     sum_d1_d2 = d1 + d2
    
#     if d1 > 0 and  d1 < 10 or d2 > 0 and d2 < 10 :
#             continue
            
#     elif d1 == 0 and d2 == 0 :
#         if sum_d1_d2 > 8 :
#             print(len())
    
# #     elif d1 == 0 and d2 == 0 :
# #         break

0 0

# 101

In [71]:
l = [4, 7, 6, 8, 11, -3, 8, 11, 5, 13]
print(sum(l))

70

# 102

In [72]:
l1 = [5, 7, 13, 11, 6, 10, 45, 11, 4, 9]
l2 = []
for i in l1:
    if i % 2 == 0:
        l2.append(i)
print(sum(l2))

20

# 103

In [295]:
# i1, i2, i3, i4, i5, i6 = input().split()
# i1, i2, i3, i4, i5, i6 = int(i1),int(i2),int(i3), int(i4), int(i5), int(i6)
# c = 0

# if i1 < 1 :
#     c += 1
#     print(c)
# elif i1 > 1 :
#     i1 -

5 1 2 2 2 7
-4

# 104

In [528]:
a, b, c = input().split()
a, b, c = int(a), int(b), int(c) 

m = a * b * c 
r = str(m)
l = []
for i in range(len(r)) :
    l.append(int(r[i]))
for i in range(10) :
    print(l.count(i))

123 234 345
1
0
1
0
0
0
0
1
0
4

# 105

In [318]:
tup = tuple(range(1, 100, 2))
sum_tup = sum(tup)
print(sum_tup)

2500

# 106

In [351]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

for i in range(0, len(l) - 1, 1) :
    l[i - 1], l[i] = l[i], l[i - 1]
print(l)

[2, 3, 4, 5, 6, 7, 8, 9, 10, 1]

# 107

In [120]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

for i in range(len(l) - 1, 0, -1) :
    l[i], l[i - 1] = l[i - 1], l[i]
print(l)

[10, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# 108

In [356]:
y, m, d = input().split()

20211224

ValueError: not enough values to unpack (expected 3, got 1)

# 109

In [77]:
n, k = input().split()
p = input().split()
n, k = int(n), int(k)
p = list(p)
l = []
if k < n and n in range(1, 50): 
    for i in range(len(p)):
        p[i] = int(p[i])
        if p[i] > 0 and p[i] >= k:
            l.append(i)
    print(len(l))

4 2
0 0
0

# 110

In [409]:
x = int(input())
n = int(input())

l = []

for i in range(1, n + 1) :
    a = int(input())
    l.append(a)
    
b = 0 
for i in l :
    b += x - i
    result = (x + b)
print(result)

10
3
4
6
2
28

# 111

6
5 2 4 1 7 5
5

# 112

5
1 3 3 4 5
1 5 3 7 9

# 113

1 4 3 2 9 7 18 22 0
3

# 114

In [78]:
p, q = input().split()
p, q = int(p), int(q)
p1 = []
q1 = []
for i in range(1, p+1):
    if p % i == 0:
        p1.append(i)
for j in range(1, q+1):
    if q % j == 0:
        q1.append(j)
for i in range(len(p1)):
    p1[i] = int(p1[i])
for i in range(len(q1)):
    q1[i] = int(q1[i])
for i in p1:
    for j in q1:
        print(i,j)

24 2
1 1
1 2
2 1
2 2
3 1
3 2
4 1
4 2
6 1
6 2
8 1
8 2
12 1
12 2
24 1
24 2

# 115

123 45
54

# 116

77
-99
98

# 117

In [296]:
l = []
i = 1
while i < 10 :
    n = int(input())
    l.append(n)
    i += 1
a = max(l)
for i in range(len(l)) :
    if l[i] == a :
        m = i + 1
print(a)
print(m)

10
20
30
40
50
60
70
80
90
90
9

# 118

In [314]:
c1 = input().split()
c1 = list(c1)
for i in range(len(c1)) :
    c1[i] = int(c1[i])
    

c2 = input().split()
c2 = list(c2)
for i in range(len(c2)) :
    c2[i] = int(c2[i])
    

c3 = input().split()
c3 = list(c3)
for i in range(len(c3)) :
    c3[i] = int(c3[i])
    

c4 = input().split()
c4 = list(c4)
for i in range(len(c4)) :
    c4[i] = int(c4[i])
    

c5 = input().split()
c5 = list(c5)
for i in range(len(c5)) :
    c5[i] = int(c5[i])
    
    
l= []

l.append(sum(c1))
l.append(sum(c2))
l.append(sum(c3))
l.append(sum(c4))
l.append(sum(c5))


for i in range(len(l)) :
    if l[i] == max(l) :
        r = i + 1
print(r, max(l))

4 4 3 3
5 4 3 5
5 5 2 4
5 5 5 1
4 4 4 4
2 17

# 119

In [529]:
n = int(input())
i = 1 
l = []

while i < n + 1 :
    num = int(input())
    l.append(num)
    i += 1
    
for i in range(1, len(l)) :
    if l.count(l[i - 1]) > l.count(l[i]):
        print(l[i - 1])

5
512
532
532
585
599
532

# 120

3
3
2 -1 1
9

# 121

3 2 3
5

# 122

100
3
5 75 25
2 3

# 123

In [362]:
n = int(input())
i = 0 
speed = []
time1 = []
time2 = []
d = []

while i < n :
    s, t = input().split()
    s, t = int(s), int(t)
    speed.append(s)
    time1.append(t)
    i += 1
    
for i in range(1, len(time1)) :
    time2.append(time1[i] - time1[i - 1])
for i in range(1, len(speed)) :
    d.append(speed[i] * time2[i - 1])
    
print((speed[0] * time1[0] + sum(d)))

2
60 1
30 5
180

# 124

In [80]:
l1 = []
i = 1
while i < 29 :
    n = int(input())
    l1.append(n)
    i = i + 1 
for i in range(1, 31) :
    if i not in l1 :
        print(i)

3
1
4
5
6
7
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
2
8

# 125

In [369]:
i = 0 
l = []
count = 1
while i  < 10:
    n = int(input())
    c = n % 42 
    l.append(c)
    i += 1
l.sort()

for i in range(1, len(l)) :
    count += 1
print(count)

0
1
2
3
4
5
6
7
8
9
10

# 126

In [403]:
s, n = input().split()
s, n = int(s), int(n)

k = 0
l1= []
l2 = []

while k < n :
    n1, n2 = input().split()
    n1, n2 = int(n1), int(n2)
    l1.append(n1)
    l1.append(n2)
    k += 1

a = 1
b = 1

while b < len(l1) // 2 :
    for i in range(1, s, l1[a]) :
        l2.append(i)
        
    a+=2 
    b += 1

sub = 0
for i in range(len(l2)) :
    if l2.count(l2[i]) >= 2 :
        sub += 1
        
if sub % 2 == 0 :
    sub = sub // 2 
else :
    sub = sub // 2 + 1
    
print(s - len(l2) - sub )

30 3
1 3
3 7
1 4
13

# 127

4 5
0 1 2
0 2 4
1 2 3
1
0 2 4
1 1 4
2

# 128

In [81]:
n = int(input())
m = int(input())
k = int(input())
check = [0] * (n + 1)

for x in range(m) :
    x = int(input())
    for j in range(x - k, x + k + 1) :
        if 1 <= j <= n :
            check[j] = 1
            
count = 0
for i in range(1, n + 1) :
    if check[i] == 0 :
        count += 1
        for j in range(i, min(i + k * 2, n) + 1) : 
            check[j] = 1
print(count)

13
2
10
1
2
1

# 129

5 2
1 2
4 5
2

# 130

In [455]:
a, b, c = input().split()
a, b, c = int(a), int(b), int(c)

t1 = input().split()
t2 = input().split()
t3 = input().split()

c1 = 0 
c2 = 0
c3 = 0
t =[]

for i in range(2) :
    t1[i] = int(t1[i])
    t2[i] = int(t2[i])
    t3[i] = int(t3[i])
    
for i in range(t1[0], t1[1]) :
    t.append(i)
for j in range(t2[0], t2[1]) :
    t.append(j)
for k in range(t3[0], t3[1]) :
    t.append(k)

for i in range(len(t)) :
    if t.count(t[i]) == 1 :
        c1 += 1
    elif t.count(t[i]) == 2 :
        c2 += 1
    else :
        c3 += 1
        
print(c1 * a + c2 * b + c3 * c)

5 3 1
1 6
3 5
2 8
33

# 131

3
5 9
1 10
3 8
350
550
330

# 132

4 2
5
8
12
6
1 3
2 4
25
26

# 133

5 3
2
5
-4
10
3
11

# 134

In [420]:
a =int(input())
op1 = input()
b = int(input())
op2 = input() 
c = int(input())



if op1 == '+' :
    r1 = a + b
elif op1 == "-" :
    r1 = a - b 
elif op1 == '*' :
    r1 = a * b
elif op1 == "/" :
    r1 = a // b
if op2 == '+' :
    r2 = r1 + c
elif op2 == "-" :
    r2 = r1 - c 
elif op2 == '*' :
    r2 = r1 * c
elif op2 == "/" :
    r2 = r1 // c
    
print(r2)

4
+
5
*
9
81

# 135

13 5 3 2 1
u
f
u
d
f
3

# 136

1 3 3 1 1 1 7 7 7 7
7
4

# 137

6
1 0 0 1 1 1
2

# 138

In [312]:
n1, n2, n3, n4, n5, n6, n7, n8 = input().split()
n1, n2, n3, n4, n5, n6, n7, n8 = int(n1), int(n2), int(n3), int(n4), int(n5), int(n6), int(n7), int(n8)

n_list = [n1, n2, n3, n4, n5, n6, n7, n8]
n_sort = n_list.sort()

print(n_sort)

# if n_list == n_sort :
#     print("ascending")
# else :
#     print("mixed")

1 2 3 4 5 6 7 8
None

# 139

6
C
C
P
C
Z
Z
5

# 140

7
0 0
1 0
1 1
0 0
0 0
0 0
0 1
6